{template 'content', 'header'}

<div class="search-recruit-bg">
	<div class="container">
		<div class="lesson_show_crumbs">培训课程 > 课程详情 > 报名课程</div>
		<div class="lesson_baseinfo payinfo">
			<div class="gtit">报名课程</div>
			<div class="lsinfo">
				
				<div class="thumb"><img src="{$thumb}" width="540" height="260" alt=""></div>
				<div class="info">
					<div class="tit">{$title}</div>
					<div class="des">{$description}</div>
					<div class="price"><span>应付金额：</span>￥{$price}</div>
				</div>
			</div>
			<div class="pay_code">
				<img src="{get_extend_setting(pay_code)}" alt="支付二维码"> <br>
				<span>请扫码支付，我们会在两个工作日内邮件或电话通知您是否交费成功。<br>
温馨提示：扫码单笔支付上限为500元/次，如课程费用超出上限，请多次扫描并支付。</span>
			</div>
		</div>
	</div>
</div>


{template 'content', 'footer'}