{template 'content', 'header'}

<div class="ch"></div>
<div class="container">
    <div class="current_crumb">
        <div class="crumb">首页 > {L('link')}</div>
        <div class="category_title">{L('link')}</div>
    </div>
    <div class="page_list">
        <ul class="link">
           {pc:link action="lists" siteid="$siteid" linktype="1" order="listorder desc, linkid desc"}
            {loop $data $r}
            <li>
                <a href=""><img src="{$r[logo]}" alt=""></a>
                <p>[ <a href="">{$r[name]}</a> ]</p>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>
</div>

{template 'content', 'footer'}