{template 'content', 'header'}
	<style type="text/css">
		.flex-control-nav {bottom: 30px;}
		.flex-control-nav li{display:inline-block;width:13px;height:13px;margin:0 5px;*display:inline;zoom:1;}
		.flex-control-nav a{display:inline-block;width:13px;height:13px;line-height:40px;overflow:hidden;background:url(statics/default/images/dot.png) right 0 no-repeat;cursor:pointer;}

	</style>
<div class="search-recruit-bg">
	<div class="container">
		<div class="recruit_form">
			<form class="jobSearchForm" action="" method="get">
				<input type="hidden" name="m" value="recruit">
				<input type="hidden" name="a" value="search">
				<input type="text" name="recruit_keyword" placeholder="搜索职位">
				<button class="button" type="button">搜索</button>
			</form>
		</div>
		<div class="hot_recruit">热门搜索：
			<?php
				$hot_jobs = get_extend_setting('hot_job');
				$hot_jobs = trim($hot_jobs, '|');
				$hot_jobs = explode('|', $hot_jobs);
			?>
			{loop $hot_jobs $r}
			<a href="?m=recruit&a=search&recruit_keyword={$r}">{$r}</a>
			{/loop}
		</div>
	</div>
</div>
<div class="container">
	<div class="recruit_top_title">
		{pc:content action="lists" catid="8" num="4" order="listorder desc, id desc"}
		{loop $data $r}
		{if $n != 1}<span>|</span>{/if}<a href="{$r[url]}" target="_blank">{$r[title]}</a>
		{/loop}
		{/pc}
	</div>
	<div class="jq22-container min-width-1300">
		<div class="flexslider">
			<ul class="slides">
				{pc:get sql="SELECT setting FROM phpcms_poster WHERE spaceid = 13 AND disabled=0 ORDER BY listorder ASC"}
					{loop $data $r}
					<?php 
						$r = json_decode($r['setting'], true);
						$r = $r[1];
					?>
					<li><a href="{if $r[linkurl] != ''}{$r[linkurl]}{else}javascript:;{/if}" target="_blank"><img src="{$r[imageurl]}" alt="{$r[alt]}" title="{$r[alt]}"></a></li>
					{/loop}
				{/pc}
			</ul>
		</div>
	</div>
	
	<div class="advs" id="advs">
		<!-- 一类广告 -->
		{loop $recruits1 $r}
		<a href="{$r[url]}" target="_blank"><img src="{$r[image]}" alt="{$r[title]}" width="540" height="260" title="{$r[title]}"></a>
		{/loop}
		<!-- 二类广告 -->
		{loop $recruits2 $r}
		<a href="{$r[url]}" target="_blank"><img src="{$r[image]}" alt="{$r[title]}" width="260" height="260" title="{$r[title]}"></a>
		{/loop}

	</div>

</div>

<link rel="stylesheet" type="text/css" href="statics/plugin/layui/css/layui.css">
<script type="text/javascript" src="statics/plugin/layui/layui.js"></script>
<script type="text/javascript">
	layui.use('flow', function(){
		var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
		var flow = layui.flow;
		flow.load({
			elem: '#advs', //指定列表容器
			isAuto: false,
			end: ' ',
			done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
				var lis = [];
				//以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
				$.get('index.php?m=recruit&a=loadMore{$urlsiteid}&page='+page, function(res){
					res = JSON.parse(res);
					//假设你的列表返回在data集合中
					layui.each(res.data, function(index, item){

						var html = '<a href="'+item.url+'" target="_blank"><img src="'+item.image+'" alt="'+item.title+'" width="260" height="260" title="'+item.title+'"></a>';
						lis.push(html);
					}); 
					//执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
					//pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
					next(lis.join(''), page < res.pages);  
				});
			}
		});	
	});
</script>

<script type="text/javascript">
	$('.jobSearchForm button').click(function(){
		var form = $('.jobSearchForm');
		var recruit_keyword = form.find('input[name=recruit_keyword]').val();
		if($.trim(recruit_keyword) == '') return false;

		form.submit();
	})
</script>


{template 'content', 'footer'}