
<div class="footer min-width-1300">
	<div class="container" style="overflow: hidden;">
		<div class="foot_l">
			<ul>
				<li><span class="lable">友情链接：</span>{pc:get sql="select * from phpcms_keylink where siteid=$siteid order by keylinkid desc"}{loop $data $r}<span class="huoban"><a href="{$r[url]}" target="_blank">{$r[word]}</a></span>{/loop}{/pc}</li>
				<li><span class="lable">版权所有：</span>{get_extend_setting(copyright)}</li>
				<li><span class="lable">联系电话：</span>{get_extend_setting(phone)} <span class="tousu"><a href="">投诉与建议</a></span></li>
			</ul>
		</div>
		<div class="foot_r">
			{pc:get sql="SELECT name, setting FROM phpcms_poster WHERE spaceid = 12 AND disabled=0 ORDER BY listorder ASC"}
			<ul>
				{loop $data $r}
				<?php 
					$image = json_decode($r['setting'], true);
					$image = $image[1];
				?>
				<li><p>{$r[name]}</p><img src="{$image[imageurl]}" width="110" height="110" alt="{$image[alt]}"></li>
				{/loop}
			</ul>
			{/pc}
		</div>

	</div>
</div>
<!-- banner -->
<script type="text/javascript" src="{APP_PATH}statics/default/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.flexslider').flexslider({
			directionNav: false,
			pauseOnAction: false,
			pauseOnHover: true,
			slideshowSpeed: 3000,
		});
	});
</script>
<script type="text/javascript">
	$(function(){
		// 显示语言

		$('.language').click(function(){
			visible($('.zh'))
			return false
		})

		$('.person').click(function(){
			visible($('.loginreg'))
			return false
		})
		$(document).click(function(){
			unvisible($('.zh'));
			unvisible($('.loginreg'));
		})

		// 显示
		function visible($obj){
			$obj.stop();
			$obj.css({opacity:0}).show();
			$obj.animate({opacity:1}, 500);
		}
		// 隐藏
		function unvisible($obj){
			$obj.stop();
			$obj.animate({opacity:0}, 500, function(){
				$obj.hide();
			});
		}
	})
</script>
<script type="text/javascript">
	// 导航下拉
	$(function(){
		$('.menu li').hover(function(){
			$(this).find('dl').show();
		}, function(){
			$(this).find('dl').hide();
		})
	})
</script>
</body>
</html>