{template 'content', 'header'}
<div class="jq22-container min-width-1300">
	<div class="flexslider">
		<ul class="slides">
			{pc:get sql="SELECT setting FROM phpcms_poster WHERE spaceid = 15 AND disabled=0 ORDER BY listorder ASC"}
				{loop $data $r}
				<?php 
					$r = json_decode($r['setting'], true);
					$r = $r[1];
				?>
				<li><a href="{if $r[linkurl] != ''}{$r[linkurl]}{else}javascript:;{/if}" target="_blank"><img src="{$r[imageurl]}" alt="{$r[alt]}" title="{$r[alt]}"></a></li>
				{/loop}
			{/pc}
		</ul>
	</div>
</div>

<div class="min-width-1300">
	<!-- 公司简介 -->
	<div class="container index_title">
		<a href="{$CATEGORYS[45][url]}" class="more"><img src="{APP_PATH}statics/default/images/index_24.jpg" width="100" alt="MORE" title="MORE"></a>
		<img src="{APP_PATH}statics/default/images/indexen03.png" height="44" alt="">
	</div>

	<div class="index_news container">
		<div class="index_news_video">
			<video id="video" src="{get_extend_setting(index_video)}" autoplay="autoplay" width="550" height="370" controls preload>
				您的浏览器暂不支持播放该视频，请升级至最新版浏览器。
			</video>
		</div>
		<div class="index_news_box">
			{get_extend_setting('en_index_about')}
		</div>
	</div>
	
	<!-- 我们的产品 -->
	<div class="container index_title">
		<a href="{$CATEGORYS[40][url]}" class="more"><img src="{APP_PATH}statics/default/images/index_24.jpg" width="100" alt="MORE" title="MORE"></a>
		<img src="{APP_PATH}statics/default/images/indexen04.png" height="40" alt="">
	</div>
	<div class="container">
		<ul class="product1">
			<li>
				<a href="{$CATEGORYS[41][url]}">
				<img src="{$CATEGORYS[59][image]}" alt="" width="540" height="260">
				<div class="titbg"></div>
				<div class="tit"><span>{$CATEGORYS[59][catname]}</span></div>
				<div class="sub">
					{pc:content action="category" catid="59" siteid="2" return="catlist"}
					{loop $catlist $r}
					<p>{$r[catname]}</p>
					{/loop}
					{/pc}
				</div>
				</a>
			</li>
			<li>
				<a href="{$CATEGORYS[40][url]}">
				<img src="{$CATEGORYS[60][image]}" alt="" width="540" height="260">
				<div class="titbg"></div>
				<div class="tit"><span>{$CATEGORYS[60][catname]}</span></div>
				<div class="sub">
					{pc:content action="category" catid="60" siteid="2" return="catlist"}
					{loop $catlist $r}
					<p>{$r[catname]}</p>
					{/loop}
					{/pc}
				</div>
				</a>
			</li>
		</ul>
		<ul class="product1 product2">
			<li>
				<a href="{$CATEGORYS[43][url]}">
				<img src="{$CATEGORYS[61][image]}" alt="" width="353" height="260">
				<div class="titbg"></div>
				<div class="tit"><span>{$CATEGORYS[61][catname]}</span></div>
				<div class="sub">
					{pc:content action="category" catid="61" siteid="2" return="catlist"}
					{loop $catlist $r}
					<p>{$r[catname]}</p>
					{/loop}
					{/pc}
				</div>
				</a>
			</li>
			<li>
				<a href="{$CATEGORYS[42][url]}">
				<img src="{$CATEGORYS[62][image]}" alt="" width="353" height="260">
				<div class="titbg"></div>
				<div class="tit"><span>{$CATEGORYS[62][catname]}</span></div>
				<div class="sub">
					{pc:content action="category" catid="62" siteid="2" return="catlist"}
					{loop $catlist $r}
					<p>{$r[catname]}</p>
					{/loop}
					{/pc}
				</div>
				</a>
			</li>
			<li>
				<a href="{$CATEGORYS[44][url]}">
				<img src="{$CATEGORYS[63][image]}" alt="" width="353" height="260">
				<div class="titbg"></div>
				<div class="tit"><span>{$CATEGORYS[63][catname]}</span></div>
				<div class="sub">
					{pc:content action="category" catid="63" siteid="2" return="catlist"}
					{loop $catlist $r}
					<p>{$r[catname]}</p>
					{/loop}
					{/pc}
				</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- 我们的客户 -->
	<div class="container index_title">
		<a href="/index.php?m=link&siteid=2" class="more"><img src="{APP_PATH}statics/default/images/index_24.jpg" width="100" alt="MORE" title="MORE"></a>
		<img src="{APP_PATH}statics/default/images/indexen05.png" height="40" alt="">
	</div>
	<div class="container index_customer">
		<ul>
			{pc:link action="lists" siteid="2" num="10" typeid="54" linktype="1" order="listorder desc, linkid desc"}
			{loop $data $r}
			<li>
				<a href="{$r[url]}" target="_blank"><img src="{$r[logo]}" width="200" height="130" alt=""></a>
				<p class="title"><a href="{$r[url]}" target="_blank">{$r[name]}</a></p>
			</li>
			{/loop}
			{/pc}
		</ul>
	</div>
</div>
<script type="text/javascript">
	// 我们的客户 滚动效果
	$(function(){
		var oul = $('.index_customer ul');
		var oulHtml = oul.html();
		oul.html(oulHtml+oulHtml)
		var timeId = null;

		var ali = $('.index_customer ul li');
		var aliWidth = ali.eq(0).width();
		var aliSize = ali.size();
		var ulWidth = aliWidth*aliSize + aliSize*25;
		oul.width(ulWidth);	//1600px
		
		var speed = -2;

		function slider(){

			if(speed<0){
				if(oul.css('left')==-ulWidth/2+'px'){
		 		oul.css('left',0);
			 	}
			 	oul.css('left','+=-2px');
			}

		 	
			if(speed>0){
				if(oul.css('left')=='0px'){
		 		oul.css('left',-ulWidth/2+'px');
			 	}
			 	oul.css('left','+='+speed+'px');
			}
		 	
		 }
		
		// setInterval()函数的作用是：每隔一段时间，执行该函数里的代码
		 timeId = setInterval(slider,30);

		$('.index_customer').mouseover(function(){
			// clearInterval()函数的作用是用来清除定时器
			clearInterval(timeId);
		});

		$('.index_customer').mouseout(function(){
			timeId = setInterval(slider,30);
		});

	});

	// 图片移入特效
	$(function(){
		$('.indexmidmenu img').hover(function(){
			$(this).stop(false, true);
			$(this).animate({opacity: 0.6}, 300);
		}, function(){
			$(this).stop(false, true);
			$(this).animate({opacity: 1}, 300);
		})
	})
</script>

<!-- html5 video 兼容处理 -->
<script src="//api.html5media.info/1.2.2/html5media.min.js"></script>
<style type="text/css">
    video::-webkit-media-controls-enclosure {
        overflow:hidden;
    }
    video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
    }
</style>

{template 'content', 'footer'}