
<div class="footer min-width-1300">
	<div class="container" style="overflow: hidden;">
		<div class="foot_l">
			<ul>
				<li><span class="lable">友情链接：</span>{pc:get sql="select * from phpcms_keylink where siteid=$siteid order by keylinkid desc"}{loop $data $r}<span class="huoban"><a href="{$r[url]}" target="_blank">{$r[word]}</a></span>{/loop}{/pc}</li>
				<li><span class="lable">版权所有：</span>{get_extend_setting(copyright)}</li>
				<li><span class="lable">联系电话：</span>{get_extend_setting(phone)}</li>
				<li><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273835426'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273835426%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></li>
			</ul>
		</div>
		<div class="foot_r">
			{pc:get sql="SELECT name, setting FROM phpcms_poster WHERE spaceid = 12 AND disabled=0 ORDER BY listorder ASC"}
			<ul>
				{loop $data $r}
				<?php 
					$image = json_decode($r['setting'], true);
					$image = $image[1];
				?>
				<li><p>{$r[name]}</p><img src="{$image[imageurl]}" width="110" height="110" alt="{$image[alt]}"></li>
				{/loop}
			</ul>
			{/pc}
		</div>

	</div>

</div>

<!-- 检测浏览器版本 低于ie8-->
<div class="floating-black" style="display: none;">
	<div class="close">X</div>
    <div id="browser-fail" class="alltips">
        <div class="alltips-box">
            <div class="pic"></div>
            <p>您的浏览器版本太低了，<br>赶快去升级或者更换别的浏览器吧！</p>
        </div>
    </div>

    <div class="shadow"></div>
</div>
<link rel="stylesheet" type="text/css" href="/statics/checkie/checkie.css">
<script type="text/javascript" src="/statics/checkie/checkie.js"></script>
<!-- 检测浏览器版本 低于ie8 -->

<!-- banner -->
<script type="text/javascript" src="statics/default/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.flexslider').flexslider({
			directionNav: false,
			pauseOnAction: false,
			pauseOnHover: true,
			slideshowSpeed: 3000,
		});
	});
</script>
<script type="text/javascript">
	$(function(){
		// 显示语言

		$('.language').click(function(event){
			visible($('.zh'))
			event.stopPropagation();
		})

		$('.person').click(function(event){
			visible($('.loginreg'))
			event.stopPropagation();
		})
		$(document).click(function(){
			unvisible($('.zh'));
			unvisible($('.loginreg'));
		})

		// 显示
		function visible($obj){
			$obj.stop();
			$obj.css({opacity:0}).show();
			$obj.animate({opacity:1}, 500);
		}
		// 隐藏
		function unvisible($obj){
			$obj.stop();
			$obj.animate({opacity:0}, 500, function(){
				$obj.hide();
			});
		}
	})
</script>
<script type="text/javascript">
	// 导航下拉
	$(function(){
		$('.menu li').hover(function(){
			$(this).find('dl').show();
		}, function(){
			$(this).find('dl').hide();
		})
	})
</script>

<script src="https://www.sobot.com/chat/frame/js/entrance.js?sysNum=ebd8aea547d24ec682760e9081ce22a7" class="zhiCustomBtn" id="zhichiScript" data-args="manual=true"></script>
<script type="text/javascript">
	//初始化智齿咨询组件实例
	var zhiManager = (getzhiSDKInstance());
	//再调用load方法
	zhiManager.on("load", function() {
	    zhiManager.initBtnDOM();
	});
	//zhiManager.set('color','09aeb0'); //API示例，格式为 0-9 a-f 之间的六位有效字符 不用加#
</script>
</body>
</html>