{template 'content', 'header'}
<div class="jq22-container min-width-1300">
	<div class="flexslider">
		<ul class="slides">
			{pc:get sql="SELECT setting FROM phpcms_poster WHERE spaceid = 11 AND disabled=0 ORDER BY listorder ASC"}
				{loop $data $r}
				<?php 
					$r = json_decode($r['setting'], true);
					$r = $r[1];
				?>
				<li><a href="{if $r[linkurl] != ''}{$r[linkurl]}{else}javascript:;{/if}" target="_blank"><img src="{$r[imageurl]}" alt="{$r[alt]}" title="{$r[alt]}"></a></li>
				{/loop}
			{/pc}
		</ul>
	</div>
</div>

<div class="min-width-1300">
	<div class="container index_title">
		<a href="{$CATEGORYS[30][url]}" class="more"><img src="statics/default/images/index_24.jpg" width="100" alt="MORE" title="MORE"></a>
		<img src="statics/default/images/index_21.jpg" width="230" alt="">
	</div>

	<div class="index_news container">
		<div class="index_news_video">
			<video id="video" src="{get_extend_setting(index_video)}" autoplay="autoplay" width="550" height="370" controls preload>
				您的浏览器暂不支持播放该视频，请升级至最新版浏览器。
			</video>
		</div>
		<div class="index_news_box">
			<ul>
				{pc:content action="lists" catid="30" num="6" order="listorder desc, id DESC"}
				{loop $data $r}
				{if $n == 1}
				<li>
					<div class="pic"><a href="{$r[url]}"><img src="{thumb($r[thumb], 200, 125)}" width="200" height="125" alt=""></a></div>
					<div class="infor">
						<span class="title"><a href="{$r[url]}">{$r[title]}</a></span>
						<span class="des" title="$r[description]">{strcut($r[description], 36)}</span>
					</div>
				</li>
				{else}
				<li>
					<div class="title"><a href="{$r[url]}" target="_blank"><span class="time">[{date('Y-m-d', $r[inputtime])}]</span>{strcut($r[title], 23)}</a></div>
				</li>
				{/if}
				{/loop}
				{/pc}
			</ul>
		</div>
	</div>

	<div class="container index_title">
		<a href="index.php?m=recruit" class="more"><img src="statics/default/images/index_24.jpg" width="100" alt="MORE" title="MORE"></a>
		<img src="statics/default/images/index_36.jpg" width="280" alt="">
	</div>
	<div class="container index_zhaopin">
		<ul>
			{pc:get sql="select * from phpcms_recruit_recruit where type=1 and status=1 and is_delete=0 order by listorder desc, id desc" num="4"}
			{loop $data $r}
			<li>
				<div class="pic"><a target="_blank" href="index.php?m=recruit&a=show&id={$r[id]}"><img src="{thumb($r[index_thumb], 190, 210)}" width="190" height="210" alt=""></a></div>
				<div class="infor">
					<div class="title"><a target="_blank" href="index.php?m=recruit&a=show&id={$r[id]}">{$r[title]}</a></div>
					<div class="des"><a href="index.php?m=recruit&a=show&id={$r[id]}">{strcut($r[content], 100)}</a></div>
					<div class="time">{date('Y-m-d', $r[inputtime])}</div>
				</div>
			</li>
			{/loop}
			{/pc}
		</ul>
	</div>

	<div class="container index_title">
		<a href="{$CATEGORYS[21][url]}" class="more"><img src="statics/default/images/index_24.jpg" width="100" alt="MORE" title="MORE"></a>
		<img src="statics/default/images/index_43.jpg" width="340" alt="">
	</div>
	<div class="container index_zhaopin">
		<ul>
			{pc:content action="lists" catid="33" num="4" order="listorder desc, id desc"}
			{loop $data $r}
			<li>
				<div class="pic"><a href="{$r[url]}"><img src="{thumb($r[thumb], 190, 210)}" width="190" height="210" alt=""></a></div>
				<div class="infor">
					<div class="title"><a href="{$r[url]}">{$r[title]}</a></div>
					<div class="des"><a href="{$r[url]}">{strcut($r[description], 100)}</a></div>
					<div class="time">{date('Y-m-d', $r[inputtime])}</div>
				</div>
			</li>
			{/loop}
			{/pc}
		</ul>
	</div>

	<div class="container indexmidmenu">
		<ul>
			<li><a href="index.php?m=recruit"><img src="statics/default/images/index_47.png" width="366" height="190" alt=""></a></li>
			<li><a href="{$CATEGORYS[21][url]}"><img src="statics/default/images/index_48.png" width="366" height="190" alt=""></a></li>
			<li><a href="{$CATEGORYS[10][url]}"><img src="statics/default/images/index_49.png" width="366" height="190" alt=""></a></li>
			<li><a href="{$CATEGORYS[23][url]}"><img src="statics/default/images/index_50.png" width="366" height="190" alt=""></a></li>
			<li><a href="{$CATEGORYS[17][url]}"><img src="statics/default/images/index_51.png" width="366" height="190" alt=""></a></li>
			<li><a href="{$CATEGORYS[2][url]}"><img src="statics/default/images/index_52.png" width="366" height="190" alt=""></a></li>
		</ul>
	</div>
	<div class="container index_title">
		<a href="/index.php?m=link" class="more"><img src="statics/default/images/index_24.jpg" width="100" alt="MORE" title="MORE"></a>
		<img src="statics/default/images/index_55.jpg" width="320" alt="">
	</div>
	<div class="container index_customer">
		<ul>
			{pc:link action="lists" siteid="$siteid" linktype="1" typeid="53" order="listorder desc, linkid desc"}
			{loop $data $r}
			<li>
				<a href="{$r[url]}" target="_blank"><img src="{$r[logo]}" width="200" height="130" alt=""></a>
				<p class="title"><a href="{$r[url]}" target="_blank">{$r[name]}</a></p>
			</li>
			{/loop}
			{/pc}
		</ul>
	</div>
</div>
<script type="text/javascript">
	// 我们的客户 滚动效果
	$(function(){
		var oul = $('.index_customer ul');
		var oulHtml = oul.html();
		oul.html(oulHtml+oulHtml)
		var timeId = null;

		var ali = $('.index_customer ul li');
		var aliWidth = ali.eq(0).width();
		var aliSize = ali.size();
		var ulWidth = aliWidth*aliSize + aliSize*25;
		oul.width(ulWidth);	//1600px
		
		var speed = -2;

		function slider(){

			if(speed<0){
				if(oul.css('left')==-ulWidth/2+'px'){
		 		oul.css('left',0);
			 	}
			 	oul.css('left','+=-2px');
			}

		 	
			if(speed>0){
				if(oul.css('left')=='0px'){
		 		oul.css('left',-ulWidth/2+'px');
			 	}
			 	oul.css('left','+='+speed+'px');
			}
		 	
		 }
		
		// setInterval()函数的作用是：每隔一段时间，执行该函数里的代码
		 timeId = setInterval(slider,30);

		$('.index_customer').mouseover(function(){
			// clearInterval()函数的作用是用来清除定时器
			clearInterval(timeId);
		});

		$('.index_customer').mouseout(function(){
			timeId = setInterval(slider,30);
		});

	});

	// 图片移入特效
	$(function(){
		$('.indexmidmenu img').hover(function(){
			$(this).stop(false, true);
			$(this).animate({opacity: 0.6}, 300);
		}, function(){
			$(this).stop(false, true);
			$(this).animate({opacity: 1}, 300);
		})
	})
</script>

<!-- html5 video 兼容处理 -->
<script src="//api.html5media.info/1.2.2/html5media.min.js"></script>
<style type="text/css">
	video::-internal-media-controls-download-button {
	    display:none;
	}
    video::-webkit-media-controls-enclosure {
        overflow:hidden;
    }
    video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
    }
</style>
<script type="text/javascript">
	$("video").on("contextmenu",function(){
		//取消右键事件
	    return false;
	});
</script>

{template 'content', 'footer'}