{template 'content', 'header'}

<div class="categoryimage"><img src="{$image}" alt=""></div>

<div class="container">
	<div class="page_left">
		<div class="title">{$CATEGORYS[$parentid][catname]}</div>
		<ul class="navlist">
			{pc:content action="category" catid="$parentid" num="25" siteid="$siteid" order="listorder desc, id desc"}
			{loop $data $n $r}
			<li {if $r[catid] == $catid} class="current"{/if}><a href="{$r[url]}">{$r[catname]}</a></li>
			{/loop}
			{/pc}
		</ul>
	</div>
	<div class="page_right">
		<div class="current_crumb">
			<div class="crumb">{catpos($catid)}</div>
			<div class="category_title">{$catname}</div>
		</div>
		<div class="category">
			{loop $usable_types $utype}
			<a href="{$CAT[url]}&utypeid={$utype['typeid']}" {if $utype[typeid] == $utypeid} class="current"{/if}>{$utype[name]}</a>
			{/loop}
		</div>
		<div class="page_list">
			<ul class="shebao">
				{php $where = isset($_GET['utypeid']) ? 'typeid='.(int)$_GET['utypeid'] : ''}

				{pc:content action="lists" catid="$catid" where="$where"  num="10" order="listorder desc, id DESC" page="$page"}
				{loop $data $r}
				<li>
					<div class="pic"><a href="" target="_blank"><img src="{thumb($r[thumb], 235, 160)}" alt=""></a></div>
					<div class="rinfo">
						<div class="tit"><a href="{$r[url]}" target="_blank" {title_style($r[style])}>{$r[title]}</a></div>
						<div class="des">{strcut($r[description], 200)}</div>
					</div>
				</li>
				{/loop}
				{/pc}
			</ul>
			<div id="pages">{htmlentities($pages)}</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

{template 'content', 'footer'}