{template 'content', 'header'}

<div class="categoryimage"><img src="{$image}" alt=""></div>

<div class="container">
	<div class="new_tit">
		{if $catid==30}
		<img src="{APP_PATH}statics/default/images/com_tit.png" alt="">

		{elseif $catid==31}
		<img src="{APP_PATH}statics/default/images/ind_tit.png" alt="">
		
		{elseif $catid==32}
		<img src="{APP_PATH}statics/default/images/pxtitle1.png" alt="">

		{elseif $catid==33}
		<img src="{APP_PATH}statics/default/images/pxtitle2.png" alt="">
		
		{elseif $catid==34}
		<img src="{APP_PATH}statics/default/images/pxtitle3.png" alt="">
		{/if}
	</div>
	<div class="page_list">
		<ul class="shebao news">
			{pc:content action="lists" catid="$catid" num="10" order="listorder desc, id DESC" page="$page"}
			{loop $data $r}
			<li>
				<div class="pic"><a href="{$r[url]}" target="_blank"><img src="{thumb($r[thumb], 301, 190)}" width="300" height="190" alt=""></a><div class="date"><span class="day">{date('d', $r[updatetime])}</span><span class="year">{date('Y.m', $r[updatetime])}</span></div></div>
				<div class="rinfo">
					<div class="tit"><a href="{$r[url]}" target="_blank" {title_style($r[style])}>{$r[title]}</a></div>
					<div class="des">{strcut($r[description], 200)}</div>
				</div>
			</li>
			{/loop}
			{/pc}
		</ul>
		<div id="pages">{$pages}</div>
	</div>
</div>

{template 'content', 'footer'}