{template 'content', 'header'}
<link rel="stylesheet" href="statics/plugin/layui/css/layui.css">
<link rel="stylesheet" href="statics/plugin/layui/css/modules/layer/default/layer.css">
<script type="text/javascript" src="statics/plugin/layui/lay/modules/layer.js"></script>
<div class="ch"></div>
<div class="container">
	<div class="page_content">
		<div class="page_title">{$title}</div>
		{$content}

		<div class="activity_tit">报名信息</div>
		<div class="activity_form">
			<form class="layui-form" id="myform" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-block">
						<input type="text" name="fullname" id="fullname" placeholder="请输入姓名" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">家属人数</label>
					<div class="layui-input-block">
						<input type="text" name="people_num" id="people_num" placeholder="请输入家属人数" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">联系电话</label>
					<div class="layui-input-block">
						<input type="text" name="phone" id="phone" placeholder="请输入联系电话" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">其他说明</label>
					<div class="layui-input-block">
						<textarea name="mark" id="mark" placeholder="其他说明" class="layui-textarea"></textarea>
					</div>
				</div>
	 		 	<div class="layui-form-item">
					<div class="layui-input-block">
					<button style="background: #d0161b;" class="layui-btn" type="button" id="submit">提交信息</button>
					</div>
				</div>

				<input type="hidden" name="cid" value="{$catid}">
				<input type="hidden" name="activity_id" value="{$id}">
				<input type="hidden" name="activity_title" value="{$title}">
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	//监听提交
	$(function(){
		$('#submit').click(function(){
			var fullname = $('#fullname').val().trim();
			if(fullname == ''){
				tips('请填写姓名', '#fullname');
				return false;
			}

			// var people_num = $('#people_num').val().trim();
			// if(people_num == ''){
			// 	tips('请填写家属人数', '#people_num');
			// 	return false;
			// }
			// 联系电话
			var phone = $('#phone').val();
			
			var reg_mobile = /^1[34578]\d{9}$/;
			var reg_phone = /^((\+?86)|(\(\+86\)))?\d{3,4}-\d{7,8}(-\d{3,4})?$/;
			if(!(reg_mobile.test(phone)) && !(reg_phone.test(phone))){
				tips('联系电话格式不正确', '#phone');
				return false;
			}

			$.ajax({
				url: 'api.php?op=activity_add',
				type: 'post',
				dataType: 'json',
				data: $('#myform').serialize(),
				success: function(data){
					if(data.code == 400){
						layer.msg(data.msg, function(){});
					}

					if(data.code == 200){
						layer.msg(data.msg, function(){
							$('#myform')[0].reset();
						});

					}
				},
				error: function(){
					layer.msg('服务器错误');
				}
			})
		})

		function tips(message, id){
			layer.tips(message, id, {tips:[2, '#000']})
		}
	})
</script>

{template 'content', 'footer'}