.memberTopBox {position: relative; min-height: 340px; min-width: 1200px; background: url('../images/usercenterbg.png'); background-size: cover;}
.memberTopBox .banner {width: 100%;}
.memberTopBox .membertop {position: absolute; top: 0; width: 100%}
.membertop .infobox {width: 280px; margin:50px auto 0; position: relative;}
.membertop .infobox .headimg {width: 100px; height: 150px; border:1px solid #d7b0b8; overflow: hidden; border-radius:50%; background: #eee; behavior:url('PIE.htc'); position:relative; z-index:2; }
.membertop .infobox .headimg img {position: absolute; z-index: -1; border-radius: 50%;}
.membertop .infobox .list {color: #666; margin-top: 10px; font-size: 16px;}
.membertop .infobox .edit { position: absolute; top: 0; left: 160px; font-size: 16px; color: #d0161b; padding-left: 20px; background: url(../images/edit.png) left center no-repeat; background-size: 15px;}
#layui_btn {background: #d0161b;}

button#layui_btn.disabled {background: #999;}
.layui-form-item .layui-input-inline.size410 {width: 390px;}

.basicinfo .tit {overflow: hidden; padding-bottom: 30px; }
.basicinfo .tit .language { float:right;}
.basicinfo .tit a {margin-left: 20px; font-size: 18px;}
.basicinfo .tit a.current{color: #d0161b}
.basicinfo label em {color: red; padding-right: 1px;}

.layui-form-label {width: 100px;}
.layui-form-en .layui-form-label {width: 120px;}
.layui-table th {padding-left: 5px; padding-right: 5px;}
.layui-table td {padding: 5px}
.layui-table th, .layui-table td { text-align: center; }

.pad_top20 {padding-top: 20px;}

.enrolledlist li.list {overflow: visible;}
.enrolledlist li.list .info p { color: #999; line-height: 40px; font-size: 18px;}
.enrolledlist li.list .info p label {display: inline-block; width: 100px;}
.enrolledlist li.list .info .tit { font-size: 20px; color: #000; padding-bottom: 10px; }
.enrolledlist .layui-nav { position: absolute;  top:40px; right: 0; background-color: #FFF; z-index: 1000; }
.enrolledlist .layui-nav .layui-this:after{ background-color: #FFF; display: none; }
.enrolledlist .layui-nav-bar {display: none;}
.enrolledlist .layui-nav .layui-nav-item a.abtn{ display: inline-block; width: 60px; height: 40px; line-height: 40px; background: #d0161b; text-align: center; border-radius: 3px; font-size: 16px; color: #FFF; behavior:url('PIE.htc');}
.enrolledlist .layui-nav li {margin-right: 10px;}
.enrolledlist .layui-nav .layui-nav-item.sorry a.abtn{background: #e8924d;}
.enrolledlist .layui-nav .layui-nav-item.pass a.abtn{background: #5e71a4;}
/*.enrolledlist .layui-val .layui-nav-child { position: relative; z-index: 10000; }*/

.baoxiaolist {background: #eee; padding: 30px; margin-top: 50px;}
.baoxiaolist .tit span {margin-left: 20px;}

.headpictip {font-size: 12px; color: #666;}