body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div, input, dl, dt{margin:0;padding:0;border:0;} 
body{background:#fff;color:#000; font-size:14px; font-family:"Microsoft Yahei","微软雅黑",arial,"\5b8b\4f53";} 

ul,ol,li{list-style-type:none;} 
input, a {outline: none;}
 
a {color:#000; text-decoration:none;} 
a:visited {text-decoration:none;} 
a:hover {color:#d32628;text-decoration:none;} 
a:active {color:#d32628;} 
.fr {float: right;}
.fl {float: left;}
.overflow {overflow: hidden;}
.clear {clear: both; height: 0;}
/*.min-width-1300{min-width: 1300px; margin: 0 auto;}*/


.container {width: 1100px; margin: 0 auto; position: relative;}
.ch {height: 10px; background: url(../images/index_h.jpg) repeat;}

#top { height: 60px; background: #d0161b;}

.menu {float: left;}
.menu ul li {float: left; height: 60px; line-height: 60px; font-size: 18px;}
.menu ul li a{display: inline-block; height: 60px; padding: 0 18px; color: #fff;}
.menu ul li:hover a, .menu ul li.current a{ font-weight: bold; }

.menu dl {position: absolute; background: #ab3131; display: none; top: 60px; z-index: 10000; padding: 5px 2px;}
.menu dt {line-height: 40px; height: 40px; padding-left: 8px; padding-right: 1px; text-align: left;}
.menu ul li dt a{height: 40px; line-height: 40px; font-size: 16px; border-left: 4px solid #ab3131; color: #fff; text-indent: 20px; padding:0 ;width: 160px;}
.menu ul li dt:hover a{background: #FFF; border-left: 4px solid #fb964d; color: #bf1321;}
.menu ul li:hover dt a { font-weight: normal;}

.menuright {float: right; color: #FFF; height: 60px; line-height: 60px;}
.menuright div {float: left;}
.menuright .language {padding-right: 30px; position: relative; font-size: 18px; cursor: pointer; background: url(../images/index_06.jpg) right center no-repeat;}
.menuright .shu {padding: 0 30px; font-size: 22px;}
.menuright .person {padding-right: 30px; position: relative; background: url(../images/index_06.jpg) right center no-repeat; margin-top: 0px; cursor: pointer;}
.menuright .person img {vertical-align: middle;}
.menuright .language .zh { background: #FFF; display: none; position: absolute; z-index: 1000; top: 62px; left: 0; width: 96px; height: 40px; line-height: 40px; font-family: "黑体"; color: #333; text-align: center; border: 1px solid #e5e5e5; border-radius: 5px; behavior:url('PIE.htc');}
.menuright .person .loginreg { background: #FFF;display: none; position: absolute; z-index: 1000; top: 56px; left: 0; font-size: 18px;  width: 96px;  border: 1px solid #e5e5e5; border-radius: 5px; behavior:url('PIE.htc');}
.menuright .person .loginreg li{text-align: center; height: 40px; line-height: 40px;}
.menuright .person .loginreg li a{font-size: 16px;}

.logotop {height: 95px; overflow: hidden;}
.logotop .logo {width: 390px; float: left; margin-top: 15px;}
.logotop .searchbox {width: 500px; float: left; margin-left: 200px; margin-top: 18px;}
.logotop .searchbox .search { height: 40px; width: 500px; border:1px solid #f3f3f3; border-radius: 23px;  behavior:url('PIE.htc');}
.logotop .searchbox .search input {float: left; height: 40px; line-height: 40px; margin-left: 23px; width: 415px; font-size: 16px; color: #999;}
.logotop .searchbox .search .sbutton { cursor: pointer; width: 40px; height: 40px; float: left; background: url(../images/searchbtn.png) center center no-repeat; background-size: 80%;}
.logotop .history {padding-left: 25px; padding-top: 6px; font-size: 14px;}

.index_title { position: relative; margin-top: 60px;}
.index_title .more {position: absolute; right: 0; top: 20px;}

.index_news {overflow: hidden; margin-top: 20px;}
.index_news_video {float: left; width: 550px; height: 400px; background: #000;}
.index_news_box { float: right; width: 520px; }
.index_news_box li { border-bottom: 1px dotted #ddd; padding-bottom: 17px; margin-top: 12px; overflow: hidden; font-size: 16px;}
.index_news_box li:first-child {margin-top: 0;}
.index_news_box li .time {margin-right: 20px;}
.index_news_box li .pic {width: 200px; height: 125px; float: left;}
.index_news_box li .infor {width: 310px; float: right; display: table; font-size: 16px;}
.index_news_box li .infor span {display: table-row; height: 65px; line-height: 1.6em;}
.index_news_box li .infor span.des { color: #999;}
/*.index_news_box li .infor .title { font-size: 18px; }*/

.index_zhaopin {}
.index_zhaopin ul {margin-left: -40px; overflow: hidden; }
.index_zhaopin li {width: 530px; margin-left: 40px; overflow: hidden; float: left; margin-top: 30px; background: #f1eff0;}
.index_zhaopin li .pic {float: left; width: 190px; height: 210px;}
.index_zhaopin li .infor {width: 325px; float: right;}
.index_zhaopin li .infor .title { font-size: 16px; line-height: 1.6em; margin-top: 10px;}
.index_zhaopin li .infor .des { color: #a5a5a5; margin-top: 15px; padding-right: 10px; text-align: justify; font-size: 14px; }
.index_zhaopin li .infor .time {color: #a5a5a5; margin-top: 15px}

.indexmidmenu {margin-top: 60px;}
.indexmidmenu ul{overflow: hidden;}
.indexmidmenu ul li {float: left; width: 366px; height: 190px;}

.index_customer {margin-top: 30px; overflow: hidden;}
.index_customer ul {overflow: hidden; margin-left: -20px; position: relative;}
.index_customer ul li { width: 260px; margin-left: 20px; float: left; }
.index_customer ul li img {border-radius: 5px; behavior:url('PIE.htc');}
.index_customer ul li .title {color: #a0a0a0; margin-top: 15px; font-size: 16px; text-align: center;}
.index_customer ul li .title a:hover{color: #d32628}


.footer { padding: 30px 0; overflow: hidden; margin-top: 100px; letter-spacing: 2px; background: #2f2f2f;}
.footer .foot_l {float: left; width: 750px;}

.footer .foot_l ul {}
.footer .foot_l li {line-height: 44px; color: #666; font-size: 18px;}
.footer .foot_l li a{color: #666}
.footer .foot_l li a:hover{color: #fff}
.footer .foot_l li .lable {display: inline-block; width: 130px; color: #fff; }
.footer .foot_l li .huoban {margin-right: 20px;}
.footer .foot_r {float: right; width: 340px;}
.footer .foot_r p {line-height: 44px; color: #666; font-size: 18px;}
.footer .foot_r ul {margin-left: -66px;}
.footer .foot_r li {float: left; width: 132px; margin-left: 66px; text-align: center;}
.footer .foot_r li img {margin-top: 20px;}
.footer .tousu {margin-left: 30px;}

/* 分页 */
#pages { padding:14px 0 10px; font-family:宋体; text-align: center; margin-top: 30px; font-size: 14px; font-weight: bold; }
#pages a { display:inline-block; height:30px; line-height:30px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 16px}
#pages a.a1 { background:url(../images/admin_img/pages.png) no-repeat 0 5px; width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:30px; line-height:30px; background:#ab3131; border:1px solid #ab3131; color:#fff; text-align:center;padding:0 16px}
.page .noPage { display:inline-block; width:56px; height:30px; line-height:30px; background:url(../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }


.categoryimage img {width: 100%; display: block;}

.page_left {float: left; width: 200px; background: #d0161b; margin-top: -32px; z-index: 2}
.page_left .title {height: 60px; line-height: 60px; color: #FFF; font-size: 18px; text-indent: 34px; letter-spacing: 3px;}
.page_left ul { margin: 0 1px 1px 8px; font-size: 16px; background: #FFF;}
.page_left li { border-left: 4px solid #d0161b; padding-left: 4px;}
.page_left li a { width: 100%; display: inline-block; height: 50px; text-indent: 20px; line-height: 50px; border-bottom: 1px solid #e7e7e7; margin-left: -4px; }
.page_left li.current, .page_left li:hover {border-left-color: #fb964d; }
.page_left li:hover a{color: #ab3131;}
.page_right {float: right; width: 860px;}


.current_crumb {padding-left: 60px; background: url(../images/posbg.png) left center no-repeat; border-bottom: 2px solid #f0f0f0;}
.crumb {font-size: 16px; color: #a4a1a1; padding: 10px 0; }
.crumb a{ color: #a4a1a1; }
.category_title {font-size: 20px; color: #ab3131; padding-bottom: 10px; letter-spacing: 3px;}
.page_content {padding: 20px 0; font-size: 16px;}
.page_title {font-size: 24px; border-bottom: 2px solid #eee; margin:30px 0; padding-bottom: 15px;}
.page_content img {max-width: 100%;}

.page_list .shebao li { padding: 15px; overflow: hidden; background: #f5f5f5; margin-top: 30px; }
.page_list .shebao li .pic { float: left; width: 235px; }
.page_list .shebao li .rinfo {float: right; width: 570px;}
.page_list .dangyuan_activity li .rinfo { width: 800px; }
.page_list .shebao li .tit {font-size: 18px; font-weight: bold;}
.page_list .shebao li .des {font-size: 16px; margin-top: 20px; line-height: 1.6em; text-align: justify;}

.page_list .news li {background: none; padding: 0; padding-bottom: 20px; border-bottom: 1px solid #eee;}
.page_list .news li .pic {width: 300px;}
.page_list .news li .rinfo {width: 760px;}

.page_list .activity li { overflow: hidden; line-height: 60px; border-bottom: 1px dashed #cecccb; font-size: 16px;}
.page_list .activity li span {float: right;}
.activity_form {width: 500px; margin-top: 30px;}
.activity_tit{ font-size: 18px; margin-top: 50px; border-bottom: 1px solid #eee; padding-bottom: 10px; }

.page_list .link {margin-left: -100px; overflow: hidden;}
.page_list .link li {width: 300px; margin: 30px 0 0 100px; text-align: center; overflow: hidden; float: left;}
.page_list .link img {width: 298px; height: 150px; border:1px solid #eee;}
.page_list .link p {padding: 10px 0;}

.page_list .dangjian li {overflow: hidden; padding-bottom: 20px; border-bottom: 1px solid #f0f0f0; }
.page_list .dangjian li .tit {font-size: 20px; padding: 20px 0 10px 0;}
.page_list .dangjian .pic {width: 300px;  height: 190px; position: relative; float: left;}
.page_list .dangjian .date { position: absolute; width: 60px; height: 60px; bottom: 10px; left: 10px; background: #071e74; color: #FFF; opacity: 0.8; text-align: center; }
.page_list .dangjian .date span {display: block;}
.page_list .dangjian .date span.day {font-size: 20px; margin-top: 5px;}
.page_list .dangjian .date span.year {font-size: 14px;}
.page_list .dangjian .des {width: 760px; float: right; font-size: 16px; line-height: 1.8em; }

.new_tit {margin-top: 30px;}

.search-recruit-bg	 {background: url(../images/index_h.jpg) repeat; padding: 30px 0;}
.recruit_form {overflow: hidden;}
.recruit_form input {float: left; width: 996px; border:2px solid #e5e5e5; height: 40px; line-height: 40px; font-size: 16px; text-indent: 10px; color: #a5a19e; border-right: 0;}
.recruit_form button {float: left; width: 100px; cursor: pointer; background: #d0161b; color: #FFF; height: 44px; line-height: 44px; font-size: 20px; letter-spacing: 5px; text-align: center; border:none;}
.hot_recruit {color: #a5a19e; padding-top: 10px;}
.hot_recruit a {margin-right: 20px; color: #d3252e;}
.hot_recruit a:hover {color:#b6131c;}
.recruit_top_title {padding: 30px 0; font-size: 20px; overflow: hidden;}
.recruit_top_title a {float: left;}
.recruit_top_title span {padding: 0 72px; float: left; color: #f0f0f0; }

/*招聘服务*/
.advs {margin-left: -20px; overflow: hidden;}
.advs img {float: left; margin-left: 20px; margin-top: 20px;}
.layui-flow-more {padding-top: 50px;}

#form_box {background: #ebebeb; padding: 40px 20px;}

.joblist .tab { margin-top: 50px;}
.joblist .tab span {display: inline-block; width: 50px;}
.joblist .tab a {display: inline-block; margin-left: 50px; padding-bottom: 10px;  width: 90px; height: 30px; font-size: 20px; line-height: 30px; text-align: center;}
.joblist .tab a.current, .joblist .tab a:hover { background: url(../images/tabbg.png) center bottom no-repeat; }
.joblist .tab a.current {cursor: default;}

.joblist ul {margin-top: 30px;}
.joblist li {border:1px solid #edebec; margin-top: 10px; border-radius: 3px; behavior:url('PIE.htc');position:relative; z-index:2; overflow: hidden;
	box-shadow: 1px 2px 3px 2px #fff;
	background: #FFF;
}
.joblist li:hover {box-shadow: 1px 2px 3px 2px #e7e6e6;}

.joblist li .info {width: 840px; float: left; padding: 30px 0 30px 50px; background: #FFF;}
.joblist li .info p { color: #999; line-height: 40px; font-size: 18px;}
.joblist li .info p label {display: inline-block; width: 100px;}
.joblist li .info .tit { font-size: 20px; color: #000; padding-bottom: 10px; }
.joblist li .btn {width: 200px; float: left;}
.joblist li .btn a, .enrolledlist li .btn span {display: inline-block; width: 100px; height: 40px; line-height: 40px; background: #d0161b; text-align: center; margin-top: 100px; border-radius: 3px; font-size: 16px; color: #FFF; behavior:url('PIE.htc');}
.joblist li .btn a:hover {background: #a91115;}

.enrolledlist li .info {width: 540px;}
.enrolledlist li .btn {width: 260px;}
.enrolledlist li .btn span.sorry{ background: #e8924d }
.enrolledlist li .btn span.pass{ background: #5e71a4; }
.joblist li .btn a.resume{ margin-left: 20px; }

/*注册*/
.regbg img {width: 100%}
.regbox {position: absolute; top: 0; z-index: 100; width: 100%}
.regbox .reg_right {float: right;}

.regbox .p1 {margin-top: 230px; font-size: 50px; color: #FFF; letter-spacing: 5px; font-family: "宋体"; margin-left: 200px;}
.regbox .p2 {margin-top: 30px; font-size: 30px; color: #FFF; margin-left: 200px; font-family: "宋体";}
.regbox .regform {width: 330px; padding-bottom: 20px; overflow: hidden; margin-top: 100px; margin-right: 150px; background: #FFF; border-radius: 5px; behavior:url('PIE.htc');}
.regbox .regform.loginform {padding: 20px 0 40px;}
.regbox .regform .tit {padding-left: 30px; color: #5b6a7d; font-size: 16px; }

.regbox .regform .input, .regbox .vcodebox 	{height: 40px; line-height: 40px; width: 290px; margin: 20px 0 0 20px; border:1px solid #ebebeb; overflow: hidden; border-radius: 5px;  behavior:url('PIE.htc'); text-indent: 10px;}
.regbox .vcodebox {text-indent: 0; line-height: 38px;}
.regbox .vcodebox input {border:none; width: 180px; height: 38px; text-indent: 10px; }
.regbox .vcodebox span{ margin-left: 15px; color: #1980e5; cursor: pointer;}
.regbox .vcodebox span.disabled{color: #999; cursor: default;}
.regbox .xieyi {padding: 20px 0 10px 20px;}
.regbox .submit {height: 40px; line-height: 40px; font-size: 18px; letter-spacing: 3px; font-family: "黑体"; width: 290px; margin-left: 20px; color: #FFF; background: #d42d31; left: 3px; border:none;}
.regbox .submit:hover{background: #e93338}
.regbox .submit.disabled:hover {background: #d42d31}
.subbot {padding: 10px 20px 0 20px; overflow: hidden; color: #5b6a7d;}
.subbot a {color: #5b6a7d;}
.subbot a:hover {color: #d32628;}
.subbot .fuhao {font-size: 18px;}
.subbot .forgetpwd {float: right;}

