{template 'content', 'header'}

{template 'member', 'top'}
<!-- <script type="text/javascript" src="{JS_PATH}placeholder.js"></script> -->
<style type="text/css">
    .layui-form-label {width: 150px;}
</style>
<div class="container">
    {template 'member', 'left'}
    <div class="page_right">
        <div class="current_crumb">
            <div class="crumb">User Center > Basic Information</div>
            <div class="category_title">Basic Information</div>
        </div>
        <div class="page_content">
            <div class="basicinfo">
                <div class="tit"><div class="language"><a {if $language=='en'} href="?m=member" {else}class="current"{/if}>中文</a><a {if $language=='zh'} href="?m=member&l=en" {else}class="current"{/if}>英文</a></div>perfect Basic Information</div>
                <form class="layui-form" action="?m=member" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">surname</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[surname]" value="{$basicinfo[surname]}" lay-verify="required" autocomplete="off" placeholder="surname" class="layui-input">
                        </div>
                        <label class="layui-form-label">firstname</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[firstname]" value="{$basicinfo[firstname]}" lay-verify="required" autocomplete="off" placeholder="firstname" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">English Name</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[foreign_name]" value="{$basicinfo[foreign_name]}" lay-verify="required" autocomplete="off" placeholder="English Name" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">Gender</label>
                        <div class="layui-input-inline">
                            {loop $enums[sex_en] $k $v}
                            <input type="radio" name="info[sex]" value="{$k}" title="{$v}" {if $n=='1' || $basicinfo[sex]==="$k"}checked{/if}>
                            {/loop}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">ID number</label>
                        <div class="layui-input-inline size410">
                            <input type="text" name="info[ID_number]" value="{$basicinfo[ID_number]}" lay-verify="required|identity" autocomplete="off" placeholder="ID number" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Date of Birth</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[birthday]" value="{$basicinfo[birthday]}" id="birthday" lay-verify="date" placeholder="Date of Birth" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">Age</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[age]" value="{$basicinfo[age]}" id="age" placeholder="Age" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Major</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[profession]" value="{$basicinfo[profession]}" id="profession" placeholder="Major" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">Highest Education</label>
                        <div class="layui-input-inline">
                            <select name="info[diploma]" lay-verify="required" placeholder="汉族" lay-search="">
                                {loop $enums[diploma_en] $k $v}
                                <option value="{$k}" {if $basicinfo[diploma]==$k}selected{/if}>{$v}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Political Status</label>
                        <div class="layui-input-block">
                            {loop $enums[political_outlook_en] $k $v}
                            <input type="radio" name="info[political_outlook]" value="{$k}" title="{$v}" {if $n=='1' || $basicinfo[political_outlook] == $k}checked{/if}>
                            {/loop}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Marital Status</label>
                        <div class="layui-input-block">
                            {loop $enums[marital_status_en] $k $v}
                            <input type="radio" name="info[marital_status]" value="{$k}" title="{$v}" {if $n=='1' || $basicinfo[marital_status] == $k}checked{/if}>
                            {/loop}
                        </div>
                    </div>

                   <!--  <div class="layui-form-item">
                       <label class="layui-form-label">矫正视力</label>
                       <div class="layui-input-inline">
                           <input type="text" name="info[vision]" value="{$basicinfo[vision]}" lay-verify="required" autocomplete="off" placeholder="矫正视力" class="layui-input">
                       </div>
                   </div> -->

                    <div class="layui-form-item">
                        <label class="layui-form-label">Height(cm)</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[height]" value="{$basicinfo[height]}" lay-verify="required|number" autocomplete="off" placeholder="Height" class="layui-input">
                        </div>
                        <label class="layui-form-label">Weight(kg)</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[weight]" value="{$basicinfo[weight]}" lay-verify="required|number" autocomplete="off" placeholder="Weight" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Cell Phone</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[mobile_phone]" value="{$basicinfo[mobile_phone]}" lay-verify="required|phone" autocomplete="off" placeholder="Cell Phone" class="layui-input">
                        </div>
                        <label class="layui-form-label">Home Phone</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[telphone]" value="{$basicinfo[telphone]}" lay-verify="required" autocomplete="off" placeholder="Home Phone" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Passport</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[passport_number]" value="{$basicinfo[passport_number]}" lay-verify="required" autocomplete="off" placeholder="Passport" class="layui-input">
                        </div>
                        <label class="layui-form-label">Date of Expiry</label>
                        <div class="layui-input-inline">
                            <input type="text" name="info[passport_deadline]" value="{$basicinfo[passport_deadline]}" id="passport_deadline" lay-verify="date" placeholder="Date of Expiry" autocomplete="off" lay-verify="date" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-form" lay-filter="living_city_id">
                        <label class="layui-form-label">Residential Address</label>
                        <div class="layui-input-inline">
                            <select name="info[living_province_id]" lay-verify="required" lay-filter="living_province_id" lay-search="">
                                <option value="">Please Select</option>
                                {loop $province $v}
                                <option value="{$v['linkageid']}" {if $basicinfo[living_province_id]==$v['linkageid']}selected{/if}>{$v['pinyin']}</option>
                                {/loop}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="info[living_city_id]" lay-verify="required"" lay-filter="" lay-search="">
                                <option value="">Please Select</option>
                                {loop $living_city_list $v}
                                 <option value="{$v['linkageid']}" {if $basicinfo[living_city_id]==$v['linkageid']}selected{/if}>{$v['pinyin']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form" lay-filter="hukou_city_id">
                        <label class="layui-form-label">hukou</label>
                        <div class="layui-input-inline">
                            <select name="info[hukou_province_id]" lay-verify="required" lay-filter="hukou_province_id" lay-search="">
                                <option value="">Please Select</option>
                                {loop $province $v}
                                <option value="{$v['linkageid']}" {if $basicinfo[hukou_province_id]==$v['linkageid']}selected{/if}>{$v['pinyin']}</option>
                                {/loop}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="info[hukou_city_id]" lay-verify="required"" lay-filter="" lay-search="">
                                <option value="">Please Select</option>
                                {loop $hukou_city_list $v}
                                 <option value="{$v['linkageid']}" {if $basicinfo[hukou_city_id]==$v['linkageid']}selected{/if}>{$v['pinyin']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Archive of Personal Profile</label>
                        <div class="layui-input-inline size410">
                            <input type="text" name="info[archiving_organization]" value="{$basicinfo[archiving_organization]}" lay-verify="required" autocomplete="off" placeholder="Archive of Personal Profile" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Postal Address</label>
                        <div class="layui-input-inline size410">
                            <input type="text" name="info[address]" value="{$basicinfo[address]}" lay-verify="required" autocomplete="off" placeholder="Postal Address" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Swimming Ability</label>
                        <div class="layui-input-inline size410">
                            <select name="info[swimming_ability]" lay-verify="required" placeholder="游泳能力" lay-search="">
                                <option value="">Please Select</option>
                                {loop $enums[swimming_ability_en] $k $v}
                                <option value="{$k}" {if $basicinfo[swimming_ability]==$k}selected{/if}>{$v}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Corrected Eyesight</label>
                        <div class="layui-input-inline size410">
                            <input type="text" name="info[correct_vision]" value="{$basicinfo[correct_vision]}" lay-verify="required" autocomplete="off" placeholder="Corrected Eyesight" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Scar or Tattoo on body</label>
                        <div class="layui-input-inline size410">
                             <input type="radio" name="info[scar_tattoo]" value="yes" title="yes">
                             <input type="radio" name="info[scar_tattoo]" value="no" title="no" checked="checked">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Availability (Please advise when you will be able to commence employment, dd/mm/yy)</label>
                        <div class="layui-input-inline size410">
                            <input type="text" name="info[start_work_date]" value="{$basicinfo[start_work_date]}" id="start_work_date" lay-verify="date" placeholder="Availability (Please advise when you will be able to commence employment, dd/mm/yy)" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 提交按钮 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="submit">Save</button>
                        </div>
                    </div>

                    <input type="hidden" name="info[language]" value="{$language}">
                    <input type="hidden" name="dosubmit" value="1">
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
        ,layer = layui.layer
        ,laydate = layui.laydate;

        //出生日期
        laydate.render({
            elem: '#birthday',
        });        
        //护照有效期
        laydate.render({
            elem: '#passport_deadline',
        });
        // 开始工作日期
        laydate.render({
            elem: '#start_work_date',
        })
        // 毕业日期
        laydate.render({
            elem: '#graduation_date',
        })
        //监听提交
        form.on('submit(submit)');


        // 监听省份select 现居住地
        form.on('select(living_province_id)', function(data){
            var province_id = data.value;

            if(province_id == '') return false;
            $.ajax({
                url:'index.php?m=member&a=ajaxGetCity',
                type: 'post',
                dataType:'json',
                // async: false,
                data:{province_id:province_id},
                success:function(data){
                    if(data.code == 200){
                        var city = '';
                        $(data.data).each(function(i){
                            city += '<option value="'+this.linkageid+'">'+this.pinyin+'</option>';
                        })
                        $('select[name="info[living_city_id]"').html(city);
                        
                        form.render('select', 'living_city_id');
                    }
                }
            })
        });

        // 监听省份select 户口所在地
        form.on('select(hukou_province_id)', function(data){
            var province_id = data.value;
            if(province_id == '') return false;

            $.ajax({
                url:'index.php?m=member&a=ajaxGetCity',
                type: 'post',
                dataType:'json',
                // async: false,
                data:{province_id:province_id},
                success:function(data){
                    if(data.code == 200){
                        var city = '';
                        $(data.data).each(function(i){
                            city += '<option value="'+this.linkageid+'">'+this.pinyin+'</option>';
                        })
                        $('select[name="info[hukou_city_id]"').html(city);
                        
                        form.render('select', 'hukou_city_id');
                    }
                }
            })
        });
    })

    // 检测中文输入
    $(function(){
        $('.layui-input').keyup(function(){
            var text = $(this).val();
            var temp = check(text);
            $(this).val(temp);
        })

        function check(str){
            var temp=""  
            for(var i=0;i<str.length;i++){
                if(str.charCodeAt(i)>0 && str.charCodeAt(i)<255){
                    temp+=str.charAt(i)
                }
            }
            return temp  
        }  

    })
</script>

{template 'content', 'footer'}