<link rel="stylesheet" href="statics/default/css/member.css">
<link rel="stylesheet" href="statics/plugin/layui/css/layui.css">
<script type="text/javascript" src="statics/plugin/layui/layui.js"></script>
<style type="text/css">
    .layui-form-label {width: 160px;}
</style>
<div class="pad_top20"></div>
<form class="layui-form" action="?m=member&a=education_modify" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">Name of School</label>
        <div class="layui-input-inline">
            <input type="text" name="info[school_name]" value="{$education[school_name]}" placeholder="Name of School" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Major</label>
        <div class="layui-input-inline">
            <input type="text" name="info[major]" placeholder="Major" value="{$education[major]}" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Duration With School</label>
        <div class="layui-input-inline">
            <input type="text" name="info[start_time]" value="{if $education[start_time]}{substr($education[start_time], 0, 7)}{/if}" id="start_time" placeholder="From" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline">
            <input type="text" name="info[end_time]" value="{if $education[start_time]}{substr($education[end_time], 0, 7)}{/if}" id="end_time" placeholder="To" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Diploma</label>
        <div class="layui-input-inline">
            <select name="info[diploma]" lay-verify="required">
                <option value="">Select Diploma</option>
                {loop $enums[diploma_en] $k $v}
                <option value="{$k}" {if $education[diploma] == $k}selected{/if}>{$v}</option>
                {/loop}
            </select>
        </div>
        <div class="layui-input-inline"><input type="checkbox"  {if $education[has_diploma] == 1}checked{/if} name="info[has_diploma]" title="Certificate Obtained"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Other Instructions</label>
        <div class="layui-input-block" style="width: 410px;">
            <textarea placeholder="Other instructions" class="layui-textarea"></textarea>
        </div>
    </div>
    <!-- 提交按钮 -->
    <div class="layui-form-item" style="display: none;">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">Save</button>
        </div>
    </div>
    <input type="hidden" name="id" value="{$id}">
    <input type="hidden" name="info[language]" value="{$language}">
    <input type="hidden" name="dosubmit" value="1">
</form>

<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
        ,layer = layui.layer
        ,layedit = layui.layedit
        ,laydate = layui.laydate;

        //在校时间
        laydate.render({
            elem: '#start_time',
            type: 'month',
        });
        laydate.render({
            elem: '#end_time',
            type: 'month',
        });
        //监听提交
        form.on('submit(submit)');
    })
</script>