{template 'content', 'header'}

{template 'member', 'top'}
<!-- <script type="text/javascript" src="{JS_PATH}placeholder.js"></script> -->
<div class="container">
    {template 'member', 'left'}
    <div class="page_right">
        <div class="current_crumb">
            <div class="crumb">个人中心 >>职位应聘</div>
            <div class="category_title">职位应聘</div>
        </div>
        <div class="page_content">
            <div class="joblist enrolledlist">
                {loop $lists $r}
                <li>
                    <div class="info">
                        <p class="tit">{$r[job_name]}</p>
                        <p><label>工作地点</label>{$r[location]}</p>
                        <p><label>公司名称</label>{$r[enterprise_name]}</p>
                    </div>
                    <div class="btn">
                        {if $r[status] == '1'}<span>审核中</span>{/if}
                        {if $r[status] == '2'}<span class="pass">通过</span>
                        <a class="resume" target="_blank" href="?m=member&a=personalResume&id={$r[id]}">简历</a>{/if}
                        {if $r[status] == '3'}<span class="sorry">很抱歉</span> {/if}
                    </div>
                </li>
                {/loop}
            </div>
            <div id="pages">{$pages}</div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
        ,layer = layui.layer
        ,layedit = layui.layedit
        ,laydate = layui.laydate;

        //出生日期
        laydate.render({
            elem: '#birthday',
        });
        //监听提交
        form.on('submit(submit)');
    })
</script>

{template 'content', 'footer'}