<link rel="stylesheet" href="statics/default/css/member.css">
<link rel="stylesheet" href="statics/plugin/layui/css/layui.css">
<script type="text/javascript" src="statics/plugin/layui/layui.js"></script>
<style type="text/css">
    .layui-form-label {width: 120px;}
</style>
<div class="pad_top20"></div>
<form class="layui-form" action="?m=member&a=language_modify" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">Language</label>
        <div class="layui-input-inline">
            <input type="text" name="info[name]" value="{$data[name]}" placeholder="Language" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Certificate</label>
        <div class="layui-input-inline">
            <input type="text" name="info[certificate]" placeholder="Certificate" value="{$data[certificate]}" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Level</label>
        <div class="layui-input-inline">
            <input type="text" name="info[level]" placeholder="Level" value="{$data[level]}" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Date of Issue</label>
        <div class="layui-input-inline">
            <input type="text" name="info[gettime]" value="{if $data[gettime]}{date('Y-m', strtotime($data[gettime]))}{/if}" id="gettime" placeholder="Date of Issue" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <!-- 提交按钮 -->
    <div class="layui-form-item" style="display: none;">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
        </div>
    </div>
    <input type="hidden" name="id" value="{$id}">
    <input type="hidden" name="info[language]" value="{$language}">
    <input type="hidden" name="dosubmit" value="1">
</form>

<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
        ,layer = layui.layer
        ,layedit = layui.layedit
        ,laydate = layui.laydate;

        //在校时间
        laydate.render({
            elem: '#gettime',
            type: 'month',
        });
        laydate.render({
            elem: '#end_time',
            type: 'month',
        });
        //监听提交
        form.on('submit(submit)');
    })
</script>