{template 'content', 'header'}

{template 'member', 'top'}
<script type="text/javascript" src="{JS_PATH}placeholder.js"></script>
<div class="container">
    {template 'member', 'left'}
    <div class="page_right">
        <div class="current_crumb">
            <div class="crumb">User Center > Language Skill</div>
            <div class="category_title">Language Skill</div>
        </div>
        <div class="page_content">
            <div class="basicinfo">
                <div class="tit"><div class="language"><a {if $language=='en'} href="?m=member&a=language" {else}class="current"{/if}>中文</a><a {if $language=='zh'} href="?m=member&a=language&l=en" {else}class="current"{/if}>英文</a></div>
                    <button class="layui-btn layui-btn-normal" onclick="add()">Add</button></div>
                <table class="layui-table">
                    <colgroup>
                        <col width="200">
                        <col width="200">
                        <col width="100">
                        <col width="150">
                        <col width="">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Language</th>
                            <th>Certificate</th>
                            <th>Level</th>
                            <th>Date Of Issue</th>
                            <th>Operator</th>
                        </tr> 
                    </thead>
                    <tbody>
                        {if !empty($lists)}
                        {loop $lists $r}
                        <tr>
                            <td>{$r[name]}</td>
                            <td>{$r[certificate]}</td>
                            <td>{$r[level]}</td>
                            <td>{substr($r[gettime], 0, 7)}</td>
                            <td>
                                <a href="javascript:;" onclick="edit({$r[id]})">Edit</a>
                                <a href="javascript:;" onclick="del({$r[id]}, this)">Delete</a>
                            </td>
                        </tr>
                        {/loop}
                        {/if}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">

    function add(){

        layer.open({
            id:'add',
            title: 'Add',
            type: 2,
            area: ['500px', '500px'],
            content: '?m=member&a=language_modify&l={$language}',
            btn: 'Save',
            yes: function(index, layero){
                var btn_submit = layer.getChildFrame('.layui-btn', index);
                btn_submit.click();
            }
        })
    }
    function edit(id) {
        layer.open({
            id:'edit',
            title: 'Edit',
            type: 2,
            area: ['500px', '500px'],
            content: '?m=member&a=language_modify&id='+id,
            btn: 'Save',
            yes: function(index, layero){
                var btn_submit = layer.getChildFrame('.layui-btn', index);
                btn_submit.click();
            }
        }); 
    }

    function del(id, obj){
        debugger
        if(!confirm('Confirm Delete ?')){
            return false;
        }
        $.ajax({
            url: '?m=member&a=language_del&id='+id,
            type: 'get',
            dataType: 'json',
            success: function(data){
                if(data.code == 200){
                    $(obj).parents('tr').animate({opacity:0}, 500, function(){
                        $(this).remove();
                    })
                }
            },
            error: function(){
                layer.msg('Server Error');
            }
        })
    }
</script>

{template 'content', 'footer'}