<!DOCTYPE html>
<html>
<head>
	<title>职位申请表</title>
	<link rel="stylesheet" type="text/css" href="/statics/default/css/resume.css">
</head>
<body>
	<button id="print" onclick="doPrint()">打印</button>
	<div class="container_resume">
		<div class="barCode">{$barcode} <span class="enroll_number">No.{$enrollinfo['enroll_number']}</span></div>
		<div class="pic_box">
			<div class="resume_logo"></div>
		</div>
		<div class="resume_logo"><img src="{get_extend_setting(resume_logo)}" alt=""></div>
		<div class="resume_head headimg"><img src="{if $memberinfo['headimg']}{$memberinfo['headimg']}{else}/statics/images/nophoto.gif{/if}" alt=""></div>
		<div class="company_head">
			{if $logo}<img src="{$logo}" alt="">{/if}
			<div class="title">Application For Cabin Crew</div>
		</div>
		<div class="clear"></div>
		
	</div>
	<div class="container_resume">
		<table class="basicinfo">
			<tr>
				<td colspan="6"><b>Basic Information</b></td>
			</tr>
			<tr>
				<td width="15%">Surname</td>
				<td width="15%">{$basicinfo[surname]}</td>
				<td width="15%">First Name</td>
				<td width="15%">{$basicinfo[firstname]}</td>
				<td width="15%">English Name</td>
				<td width="15%">{$name[foreign_name]}</td>
			</tr>
			<tr>
				<td width="15%">Chinese Name</td>
				<td width="25%">{$name[fullname]}</td>
				<td width="15%">Gender</td>
				<td width="15%">{$enums[sex_en][$basicinfo[sex]]}</td>
				<td width="15%">Registered City</td>
				<td width="25%">{get_linkage_name($basicinfo[hukou_city_id], 'pinyin')}</td>
			</tr>
			<tr>
				<td width="15%">Date of Birth</td>
				<td width="15%">{$basicinfo[birthday]}</td>
				<td width="15%">Age</td>
				<td width="15%">{get_age($basicinfo[ID_number])}</td>
				<td width="15%">Major</td>
				<td width="25%">{$basicinfo[profession]}</td>
			</tr>
			<tr>
				<td>ID Number:</td>
				<td colspan="3">{$basicinfo[ID_number]}</td>
				<td>Highest Education</td>
				<td>{$enums['diploma_en'][$basicinfo[diploma]]}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td colspan="3">{$basicinfo[email]}</td>
				<td>Political Status</td>
				<td>{$enums[political_outlook_en][$basicinfo[political_outlook]]}</td>
			</tr>
			<tr>
				<td>Passport</td>
				<td colspan="3">{$basicinfo[passport_number]}</td>
				<td>Date of Expiry</td>
				<td>{$basicinfo[passport_deadline]}</td>
			</tr>
			<tr>
				<td rowspan="3">Residential Address</td>
				<td rowspan="3" colspan="3">{$basicinfo[living_address]}</td>
				<td>Corrected Eyesight</td>
				<td>{$basicinfo[correct_vision]}</td>
			</tr>
			<tr>
				<td>Height(cm)</td>
				<td>{$basicinfo[height]}</td>
			</tr>
			<tr>
				<td>Weight(kg)</td>
				<td>{$basicinfo[weight]}</td>
			</tr>
			<tr>
				<td rowspan="3">Registered Address</td>
				<td rowspan="3" colspan="3">{$basicinfo[address]}</td>
				<td>Cell Phone</td>
				<td>{$basicinfo[mobile_phone]}</td>
			</tr>
			<tr>
				<td>Home Tel</td>
				<td>{$basicinfo[telphone]}</td>
			</tr>
			<tr>
				<td>Marital Status</td>
				<td>{$enums[marital_status_en][$basicinfo[marital_status]]}</td>
			</tr>
			<tr>
				<td colspan="6"><b>Language Skill</b></td>
			</tr>
			<tr>
				<td>Language</td>
				<td colspan="3">Certificate</td>
				<td>Level</td>
				<td>Date of Issue</td>
			</tr>
			{loop $languagelist $language}
			<tr>
				<td>{$language[name]}</td>
				<td colspan="3">{$language[certificate]}</td>
				<td>{$language[level]}</td>
				<td>{substr($language[gettime], 0, 7)}</td>
			</tr>
			{/loop}
		</table>
		<table class="noneBorderTop">
			<tr class="noneBorderTop">
				<td colspan="7"><b>Educational Background</b></td>
			</tr>
			<tr>
				<td width="40%" rowspan="2" colspan="2">Name of School</td>
				<td width="20%" colspan="2">Duration with School</td>
				<td width="20%" rowspan="2">Major</td>
				<td width="10%" rowspan="2">Degree</td>
				<td width="" rowspan="2">Certificate Obtained</td>
			</tr>
			<tr>
				<td>From M/Y</td>
				<td>To M/Y</td>
			</tr>
			{loop $educationlist $r}
			<tr>
				<td width="40%" colspan="2">{$r[school_name]}</td>
				<td width="10%">{substr($r[start_time], 0, 7)}</td>
				<td width="10%">{substr($r[end_time], 0, 7)}</td>
				<td width="20%">{$r[major]}</td>
				<td width="10%">{$enums['diploma_en'][$r[diploma]]}</td>
				<td width="">{if $r[has_diploma]}yes{else}no{/if}</td>
			</tr>
			{/loop}
			<tr class="noneBorderTop">
				<td colspan="7"><b>Working Experience or Internship</b></td>
			</tr>
			<tr>
				<td width="20%" rowspan="2">Name of Company</td>
				<td width="20%" rowspan="2">Industry</td>
				<td width="10%" colspan="2">Duration with Work</td>
				<td width="10%" rowspan="2">Position</td>
				<td width="10%" rowspan="2">Salary</td>
				<td width="10%" rowspan="2">Reference Person and Contact Information</td>
			</tr>
			<tr>
				<td>From M/Y</td>
				<td>To M/Y</td>
			</tr>
			{loop $worklist $r}
			<tr>
				<td width="20%">{$r[company_name]}</td>
				<td width="20%">{$r[industry]}</td>
				<td width="10%">{substr($r[start_time], 0, 7)}</td>
				<td width="10%">{substr($r[end_time], 0, 7)}</td>
				<td width="20%">{$r[position]}</td>
				<td width="10%">{$r[salary]}</td>
				<td width="10%">{$r[witness]}</td>
			</tr>
			{/loop}
			<tr>
				<td colspan="2">Swimming Ability</td>
				<td colspan="5">{$enums[swimming_ability_en][$basicinfo['swimming_ability']]}</td>
			</tr>
			<tr>
				<td colspan="2">Scar or Tattoo on body</td>
				<td colspan="5">{if $basicinfo['scar_tattoo'] == '1'}yes {else}no{/if}</td>
			</tr>
			<tr>
				<td colspan="2">Availability (Please advise when you will be able to commence employment, dd/mm/yy)</td>
				<td colspan="5">{$basicinfo['start_work_date']}</td>
			</tr>
			<tr>
				<td colspan="2">Archive of Personal Profile</td>
				<td colspan="5">{$basicinfo[archiving_organization]}</td>
			</tr>
			<tr>
				<td colspan="7">
					本人承诺，以上内容均真实有效。若有虚假，本人将承担一切后果。
					<div class="qian">
						申请人签名：<span></span>
						填表时间：<span></span>
					</div>
				</td>
			</tr>
		</table>
	</div>

<script type="text/javascript" src="statics/default/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	
function doPrint(){
	body = window.document.body.innerHTML;
   
    $('#print').hide();
    printBody = window.document.body.innerHTML;
    window.document.body.innerHTML = printBody;
    window.print();
    window.document.body.innerHTML = body;
}
</script>
</body>
</html>