{template 'content', 'header'}

{template 'member', 'top'}
<div class="container">
    {template 'member', 'left'}
    <div class="page_right">
        <div class="current_crumb">
            <div class="crumb">个人中心 > 图像采集</div>
            <div class="category_title">图像采集</div>
        </div>
        <div class="page_content">

            <fieldset class="layui-elem-field layui-field-title">
                <legend>大头照</legend>
                <div class="layui-field-box">
                    <img class="layui-upload-img" id="headimg" src="{$memberinfo['headimg']}">
                    <div id="headpic"></div>
                    <div class="headpictip">提示：2寸照片大小（不能超过 100*150 像素）图片大小不能超过500像素</div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field layui-field-title">
                <legend>全身照</legend>
                <div class="layui-field-box">
                    <img class="layui-upload-img" id="bodyimg" src="{$memberinfo['bodyimg']}">
                    <div id="bodypic"></div>
                    <div class="headpictip">提示：6寸照片大小（不能超过 290*430 像素）图片大小不能超过500像素</div>
                </div>
            </fieldset> 

            <fieldset class="layui-elem-field layui-field-title">
                <legend>视频介绍</legend>
                <div class="layui-field-box">
                    <button id="plupload" class="layui-btn layui-btn-normal"><i class="layui-icon layui-icon-upload"></i>上传测试</button>
                    <div id="video_box" style="width:120px;height:100px;border:1px solid #333">
                       
                    </div>
                </div>
            </fieldset> 
        </div>
    </div>
    <div class="clear"></div>
</div>


<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="statics/plugin/croppic/croppic.css">
<script type="text/javascript" src="statics/plugin/croppic/croppic.min.js"></script>

<style type="text/css">
    #headpic {
            width: 100px;
            height: 150px;
            border: 2px solid #f0f0f0;
            position:relative; /* or fixed or absolute */
        }
    #bodypic {
            width: 290px;
            height: 430px;
            border: 2px solid #f0f0f0;
            position:relative; /* or fixed or absolute */
        }

    img#headimg { float: left; margin-top: 2px; margin-left: 2px; }
    img#bodyimg { float: left; margin-top: 2px; margin-left: 2px; }
</style>
<script type="text/javascript">
    <!-- 头像上传 -->
    var headOptions = {
            uploadUrl:'index.php?m=member&a=pic',
            cropUrl: 'index.php?m=member&a=crop',
            modal: true,
            uploadData: {dosubmit:1, type:'head'},
            rotateControls: false,
            doubleZoomControls: false,
            
            onAfterImgCrop:function(){
                $('img#headimg').remove();
            },
            
        }       
        
    new Croppic('headpic', headOptions);
    <!-- 全身照上传 -->
    var bodyOptions = {
            uploadUrl:'index.php?m=member&a=pic',
            cropUrl: 'index.php?m=member&a=crop',
            modal: true,
            uploadData: {dosubmit:1, type:'body'},
            rotateControls: false,
            doubleZoomControls: false,
            
            onAfterImgCrop:function(){
                $('img#bodyimg').remove();
            },
            
        }       
        
    new Croppic('bodypic', bodyOptions);

    // 视频上传
    layui.config({
        base: 'statics/plugin/mods/'
    }).use('mods', function (mods) {
        // pupload是扩展插件。
        mods(['layer', 'form', 'pupload'], function (layer, form, pupload) {
            //var $ = layui.$;
            pupload.loader({
                url: 'index.php?m=member&a=uploadVideo',
                browse_button: "plupload",
                multipart: true,
                drop_element: "video_box",
                chunk_size: '100mb',
            }, function (uploader) {
                console.log(uploader)
                uploader.init();
            });//
        });
    });
</script>


{template 'content', 'footer'}