<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1300" /> 
	<title>注册-{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">
	<link rel="stylesheet" href="statics/default/css/style.css">
	<link rel="stylesheet" href="statics/plugin/layui/css/modules/layer/default/layer.css">
	<script type="text/javascript" src="statics/default/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="{JS_PATH}jquery.cookie.js"></script>
	<script type="text/javascript" src="statics/plugin/layui/lay/modules/layer.js"></script>
</head>
<body>
<div class="logo" style="padding: 10px 10%;"><a href="{siteurl($siteid)}"><img src="statics/default/images/logo.png" width="300" alt=""></a></div>
<div class="regbg">
	<img class="bgimg" src="statics/default/images/regbg.png" alt="">
</div>
<div class="regbox">
	<div class="container">
		<div class="reg_right">
			<div class="regform">
				<div class="person_reg">
					<form action="">
					<input type="text" class="input input-phone" name="info[phone]" id="phone" value="" placeholder="请输入手机号">
					<div class="vcodebox">
						<input type="text" name="info[code]" id="vcode_phone" value="" placeholder="请输入验证码"><span class="getcode">获取验证码</span>
					</div>
					<input type="password" class="input" name="info[pwd]" id="pwd" value="" placeholder="请输入密码">
					<input type="password" class="input" name="info[confirm_pwd]" id="confirm_pwd" value="" placeholder="请确认密码">
					<div class="xieyi">
						<input type="checkbox" name="agree" id="agree"> 我同意<a href="javascript:;" class="xieyicon">《用户注册协议》</a>
					</div>
						<input type="button" class="submit" name="dosubmit" value="注册">
						<div class="subbot"><a href="?m=member&a=login"><span class="fuhao">«</span>立即登录</a></div>
						<input type="hidden" name="dosubmit" value="1">
					</form>
				</div>
			</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
	$(function(){
		// 提交表单验证
		$('.submit').click(function(){
			if($(this).hasClass('disabled')) return false;

			var form = $(this).parents('form');

			// 手机号码验证
			var phone = form.find('#phone').val();
			if(!isPhone(phone)){
				tips('手机号格式错误', '#phone');
				return false;
			}

			var vcode = form.find('#vcode_phone').val();
			if(vcode == ''){
				tips('请填写验证码', '#vcode_phone');
				return false;
			}

			var pwd = form.find('#pwd').val();
			if(pwd == ''){
				tips('请填写密码', '#pwd');
				return false;
			}

			var confirm_pwd = form.find('#confirm_pwd').val();
			if(confirm_pwd != pwd){
				tips('两次密码不一致', '#confirm_pwd');
				return false;
			}
			if(form.find('#agree').prop('checked') != true){
				tips('请同意《用户注册协议》', '#agree');
				return false;
			}

			$(this).addClass('disabled');
			var load = layer.load();
			$.ajax({
				url: '?m=member&a=register',
				type: 'post',
				dataType: 'json',
				data: form.serialize(),
				success: function (data){
					layer.close(load);
					if(data.code == 400){
						layer.msg(data.msg);
						$('.submit').removeClass('disabled');
					}
					if(data.code == 200){
						layer.msg('注册成功', function(){
							window.location='?m=member&c=index';
						});
					}
				},
				error: function (){
					layer.close(load);
					layer.msg('服务器错误');
				}
			})

		})
		// 发送手机验证码
		$('.getcode').click(function(){
			if($(this).hasClass('disabled')) return false;

			var form = $(this).parents('form');
			// 手机号码验证
			var phone = form.find('#phone').val();
			if(!isPhone(phone)){
				tips('手机号格式错误', '#phone');
				return false;
			}

			

			$.ajax({
				url: 'index.php?m=member&a=public_sendPhoneCode&phone='+phone+'&type=register',
				type:'get',
				dataType:'json',
				success: function(data){
					if(data.code == 400){
						layer.msg(data.msg)
						$.cookie('second', 0);
						return false;
					}
					if(data.code == 200){
						// 可以发送验证码
						$.cookie('second', 60);
						settime($('.getcode'));
						
						layer.msg('验证码发送成功');
					}
				},
				error: function(){
					layer.msg('服务器错误');
				}
			})
		})
		
		// 刷新页面计算验证码发送时间
		settime($('.getcode'));

		function tips(message, id){
			layer.tips(message, id, {tips:[1, '#000']})
		}

		function isPhone(phone){
			var reg_mobile = /^1[34578]\d{9}$/;
			return reg_mobile.test(phone);
		}


		//开始倒计时
		var countnum;
		function settime(obj) { 
			countnum=$.cookie("second");
			if (countnum == 0) { 
				obj.removeClass('disabled');
				obj.html("获取验证码"); 
				return;
			} else if(countnum>0){ 
				obj.addClass('disabled');
				obj.html("重新发送(" + countnum + ")"); 
				countnum--;
				$.cookie("second", countnum);
			} 
			setTimeout(function() { settime(obj) }, 1000) //每1000毫秒执行一次
		}

		$(function(){
			$('.xieyicon').click(function(){
				layer.open({
					type: 1,
					title: '《用户注册协议》',
					skin: 'layui-layer-rim', //加上边框
					area: ['600px', '500px'], //宽高
					content: '<div style="padding:10px; text-align:justify">{get_extend_setting(registration_agreement)}</div>'
				});

			})
		})
	})

	
</script>
</body>
</html>
