<link rel="stylesheet" type="text/css" href="statics/default/css/member.css">
<div class="memberTopBox">
    <img class="banner" src="statics/default/images/usercenterbg.png" alt="">
    <div class="membertop">
        <div class="container">
        	<div class="infobox">
	        	<div class="headimg"><img src="statics/default/images/head.png" width="150" height="150" alt=""></div>
	        	<div class="list">姓名：王胜利</div>
	        	<div class="list">手机：15201110059</div>
	        	<div class="list">邮箱：363912809@qq.com</div>
	        	<a class="edit" href="">编辑简历</a>
	        </div>
        </div>
    </div>
</div>
